<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.program.DAO.UserDAO">
  	<select id="getUserById" parameterType="int" resultType="com.program.pojo.User">
  		select * from p_user where userId = #{userId}
  	</select>
  	
  	<select id="getUserByName" parameterType="String" resultType="com.program.pojo.User">
  		select * from p_user where loginName = #{loginName}
  	</select>
  	
  	<select id="getPasswordByName" parameterType="String" resultType="String">
  		select password from p_user where loginName = #{loginName}
  	</select>
  
  	<select id="getAllUserCount" resultType="long">
  		select count(*) from p_user
  	</select>
  	
  	<select id="getAllUserByPages" resultType="com.program.pojo.User">
  		select * from p_user order by userId limit #{page},#{size}
  	</select>
  </mapper>