<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.program.DAO.UserDAO">
  	<select id="getUserById" parameterType="int" resultType="com.program.pojo.User">
  		select * from p_user where userId = #{userId}
  	</select>
  	
  	<select id="getUserByName" parameterType="String" resultType="com.program.pojo.User">
  		select * from p_user where loginName = #{loginName}
  	</select>
  	
  	<select id="getPasswordByName" parameterType="String" resultType="String">
  		select password from p_user where loginName = #{loginName}
  	</select>
  
  	<select id="getAllUserCount" resultType="long">
  		select count(*) from p_user
  	</select>
  	
  	<select id="getAllUserByPages" resultType="com.program.pojo.User">
  		select * from p_user order by userId limit #{page},#{size}
  	</select>
  	
  	<insert id="addUser" parameterType="com.program.pojo.User">
  		insert into p_user(userName,loginName,password,sex,age,authority,telephone,registerTime,Email,address,note)
  		values(#{userName},#{loginName},#{password},#{sex},#{age},#{authority},
  			   #{telephone},#{registerTime},#{Email},#{address},#{note})
  	</insert>
  	
  	<update id="updateUser" parameterType="com.program.pojo.User">
  		update p_user 
  		<set>
			password=#{password},
			authority=#{authority},
		<if test="userName != null and userName != ''">
			userName=#{userName},
		</if>	
		<if test="sex != null and sex != ''">
			sex=#{sex},
		</if>
		<if test="age != null and age != ''">
			age=#{age},
		</if>
		<if test="telephone != null and telephone != ''">
			telephone=#{telephone},
		</if>
		<if test="registerTime != null and registerTime != ''">
			registerTime=#{registerTime},
		</if>
		<if test="Email != null and Email != ''">
			Email=#{Email},
		</if>
		<if test="address != null and address != ''">
			address=#{address},
		</if>
		<if test="note != null and note != ''">
			note=#{note},
		</if>	
  		</set>
  		where loginName=#{loginName}
  	</update>
  	
  	<delete id="deleteUser" parameterType="String">
  		delete from p_user where loginName=#{loginName}
  	</delete>
  </mapper>