<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.program.DAO.UserDAO">
  	<select id="getUserById" parameterType="int" resultType="com.program.pojo.User">
  		select * from user where id = #{id}
  	</select>
  	
  	<select id="getUserByName" parameterType="String" resultType="com.program.pojo.User">
  		select * from user where name = #{name}
  	</select>
  	
  	<select id="getPasswordByName" parameterType="String" resultType="String">
  		select password form user where name = #{name}
  	</select>
  </mapper>